<ion-toolbar>
  <ion-title> Dietas </ion-title>
</ion-toolbar>

<ion-content>
  <label
    >Seleccione el ingrediente principal para decubrir las recetas
    disponibles</label
  >
  <hr />
  <select name="ingredientePrincipal" id="ingredientePrincipal">
    <option value="chicken">Pollo</option>
    <option value="salmon">Salmon</option>
    <option value="beef">Carne de res</option>
    <option value="pork">Carne de cerdo</option>
    <option value="bacon">Tocino</option>
    <option value="eggs">Huevo</option>
    <option value="Beans">Flijores</option>
    <option value="rice">Arroz</option>
    <option value="spaghetti">Espagueti</option>
    <option value="bread">Pan</option>
    <option value="broccoli">Brocoli</option>
    <option value="avocado">Aguacate</option>
    <option value="almonds">Almendras</option>
    <option value="walnuts">Nueces</option>
    <option value="carrot">Zanahoria</option>
  </select>
  <hr />
  <ion-button (click)="cargarRecetas()">Cargar recetas</ion-button>

  <ion-list>
    <div *ngIf="recetas.length > 0">
      <form #recetaForm="ngForm" (ngSubmit)="guardarDieta(recetaForm)">
        <ion-item *ngFor="let receta of recetas; let i = index">
          <ion-label>
            <h2>{{ receta.strMeal }}</h2>
            <img [src]="receta.strMealThumb" />
          </ion-label>
          <ion-button
            [id]="'click-trigger-' + i"
            (click)="cargarDetalleReceta(receta.idMeal)"
            >Detalles</ion-button
          >
          <ion-popover [trigger]="'click-trigger-' + i" triggerAction="click">
            <ng-template>
              <ion-content class="ion-padding">
                <h3>{{ detalleReceta?.strMeal }}</h3>
                <h4>Ingredientes</h4>
                <ul>
                  <li>{{ detalleReceta?.strIngredient1 }}</li>
                  <li>{{ detalleReceta?.strIngredient2 }}</li>
                  <li>{{ detalleReceta?.strIngredient3 }}</li>
                  <li>{{ detalleReceta?.strIngredient4 }}</li>
                  <li>{{ detalleReceta?.strIngredient5 }}</li>
                  <li>{{ detalleReceta?.strIngredient6 }}</li>
                  <li>{{ detalleReceta?.strIngredient7 }}</li>
                  <li>{{ detalleReceta?.strIngredient8 }}</li>
                  <li>{{ detalleReceta?.strIngredient9 }}</li>
                  <li>{{ detalleReceta?.strIngredient10 }}</li>
                </ul>
                <h4>Intrucciones</h4>
                <p>{{ detalleReceta?.strInstructions }}</p>
                <a [href]="detalleReceta?.strYoutube" target="_blank"
                  >Ver preparacion</a
                >
              </ion-content>
            </ng-template>
          </ion-popover>
          <ion-checkbox
            slot="end"
            [checked]="saberRecetaSeleccionada(receta)"
            (ionChange)="seleccionarReceta(receta, $event.detail.checked)"
          ></ion-checkbox>
        </ion-item>
        <ion-button color="success" type="submit" (click)="alertaDietaCreada()">
          Guardar comidas seleccionados</ion-button
        >
      </form>
    </div>
  </ion-list>
</ion-content>
